[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/zmajeedforks/fmt
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/zmajeedforks/googletest
